.app-content {
    min-width: 900px;
    width: 90%;
    margin-left: auto;
    margin-right: auto
}

.app-content,
.card,
.error-container {
    border-radius: 10px;
}

.input-validation-error {
    border-color: red;
    background-color: #faacac;
}

.user {
    color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
