.app-content {
    min-width: 900px;
    width: 90%;
    margin-left: auto;
    margin-right: auto
}

.app-content,
.card,
.error-container {
    border-radius: 10px;
}

.input-validation-error {
    border-color: red;
    background-color: #faacac;
}

.user {
    color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

textarea {
    height: 20rem;
}

.tagSize1 {
    font-family: Arial;
    font-size: 1.2rem;
    color: #FF0000;
}

.tagSize2 {
    font-family: Arial;
    font-size: 1.8rem;
    color: #993333;
}

.tagSize3 {
    font-family: Arial;
    font-size: 2.5rem;
    color: #0000FF;
}

.tagSize4 {
    font-family: Arial;
    font-size: 3.2rem;
    color: #009900;
}

.tagSize5 {
    font-family: Arial;
    font-size: 3.8rem;
    color: #9900FF;
}
