@model AuthorViewModel
<span class="badge rounded-pill bg-info fs-6 mb-2 me-1">
    @Model.AuthorName
    @if (Model.LikesForAuthor > 0)
    {
        <span>@Model.LikesForAuthor</span>
        <i class="fas fa-thumbs-up"></i>
    }
</span>