<div class="m-3 text-center">
    <a class="btn btn-outline-primary"
       asp-controller="Account"
       asp-action="UserProfile"
       asp-route-userName="@User.Identity.Name">
        Back to Profile
    </a>
</div>