@model PreviewViewModel

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            @{
                await Html.RenderPartialAsync("ReviewPartials/_PreviewImage", Model.PreviewImageUrl);
            }
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-action="SingleReview"
                       asp-route-id="@Model.Id">
                        @Model.Title
                    </a>
                </h4>
                @{
                    await Html.RenderPartialAsync("ReviewPartials/_ReviewHeader", Model);
                }
                <div class="card-text text-start">
                    @{
                        await Html.RenderPartialAsync("ReviewPartials/_MarkdownBody", Model.Body);
                    }
                </div>
                @{
                    await Html.RenderPartialAsync("ReviewPartials/_Tags", Model.Tags);
                }
                @{
                    await Html.RenderPartialAsync("ReviewPartials/_DateAdded", Model.DateAdded);
                }
            </div>
        </div>
    </div>
</div>