@model PreviewViewModel

<h6 class="text-warning">
    @Model.ProductViewModel.Type :
    @Model.ProductViewModel.Name
    <br />
    Author:
    @{
        await Html.RenderPartialAsync("ReviewPartials/_Author", Model.Author);
    }
    | Author's rating: @Model.AuthorGrade
</h6>

@{
    await Html.RenderPartialAsync("ReviewPartials/_AverageUserRating", Model);
}