@model CreateReviewViewModel

<div class="mb-3 row">
    <div class="col-10">
        <label class="form-label" asp-for="Title"></label>
        <input class="form-control" asp-for="Title" />
    </div>
    <div class="col-2">
        <label class="form-label" asp-for="AuthorGrade"></label>
        <select class="form-select" asp-for="AuthorGrade">
            <option selected disabled></option>
            @for (int i = ReviewConstrains.AuthorMinGrade;
            i <= ReviewConstrains.AuthorMaxGrade; i++)
            {
                <option value="@i" class="text-center">@i</option>
            }
        </select>
    </div>
</div>

<div class="mb-3 row">
    <div class="col-10">
        <label class="form-label"
               asp-for="ProductViewModel.Name"></label>
        <input class="form-control"
               asp-for="ProductViewModel.Name" />
    </div>
    <div class="col-2">
        <label class="form-label"
               asp-for="ProductViewModel.Type"></label>
        <select class="form-control"
                asp-for="ProductViewModel.Type">
            <option selected disabled></option>
            @foreach (var value in EnumUtils.GetValues<ProductType>())
            {
                <option value="@value" class="text-center">
                    @value
                </option>
            }
        </select>
    </div>
</div>
<div class="mb-3">
    <label class="form-label" asp-for="Body"></label>
    <textarea class="form-control review-textarea" asp-for="Body"></textarea>
</div>

<div class="row g-3 align-items-center">
    <div class="col-auto">
        <label class="col-form-label" for="TagText">
            Input tag, press enter (max 5 tags, only letters, numbers, '-'):
        </label>
    </div>
    <div class="col-auto" id="TagInputs" name="TagInputs">
        <input class="form-control"
               type="text"
               id="TagText"
               name="TagText"
               maxlength="@TagConstrains.TextMaxLength" />
    </div>
</div>

<input asp-for="Tags" hidden />
<div class="mb-3 row m-2">
    @for (int i = 1; i <= TagConstrains.MaxTagsInReview; i++)
    {
        <div class="col-2 position-relative pe-0" id="Tag@(i)" hidden>
            <input class="form-control text-center"
               type="text"
               id="Tag@(i)-Text"
               readonly>
            <button class="btn btn-sm btn-close btn-warning position-absolute top-0 end-0"
                title="Delete tag"
                id="Tag@(i)btn">
            </button>
        </div>
    }
</div>

<input asp-for="ImagesUrls" hidden />
<button type="submit" class="btn btn-primary position-absolute buttom-center">
    Save
</button>
@{
    await Html.RenderPartialAsync("ReviewPartials/_CancelDialog");
}