<head>
    <link rel="stylesheet" href="~/css/forbidden.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <title>@AppConfigs.Title - Access Forbidden</title>
</head>

<div class="forbidden-container">
    <h1 class="text"><span>403</span></h1>
</div>
