<!DOCTYPE html>

<html>
<head>
    @{
        await Html.RenderPartialAsync("LayoutPartials/_Head");
    }
</head>
<body>
    <div class="app-content">
        @{
            await Html.RenderPartialAsync("LayoutPartials/_Navbar");
        }
        <div class="shadow text-center m-4">
            <div class="card text-break">@RenderBody()</div>
        </div>
        @{
            await Html.RenderPartialAsync("LayoutPartials/_Footer");
        }
    </div>
</body>
</html>
