<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand"
           asp-controller="Home"
           asp-action="Index">
            @AppConfigs.Title
        </a>
        <a class="btn btn-outline-info"
           asp-controller="Home"
           asp-action="PrivacyPolicy">
            Privacy Policy
        </a>

        <a class="btn btn-outline-info"
           asp-controller="Settings"
           asp-action="SetSettings">
            <i class="fas fa-user-cog"></i> Settings
        </a>
        <div class="d-flex">
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <div class="card-header user">Hello, @User.Identity.Name !</div>
                <a class="btn btn-outline-warning me-2"
               asp-controller="Account"
               asp-action="Logout">
                    Logout <i class="fas fa-sign-out-alt"></i>
                </a>
            }
            else
            {
                <a class="btn btn-outline-success me-2"
               asp-controller="Account"
               asp-action="Login">
                    Login <i class="fas fa-sign-in-alt"></i>
                </a>
                <a class="btn btn-outline-success"
               asp-controller="Account"
               asp-action="Register">
                    Register now
                </a>
            }
        </div>
    </div>
</nav>