@model SettingsViewModel

<head>
    <title>@AppConfigs.Title - Settings</title>
</head>

<div class="card-body col-3 align-self-center">
    <form asp-action="SetSettings" method="post">
        <div class="mb-3">
            <label class="form-label" asp-for="Theme">Select Theme</label>
            <select class="form-control" asp-for="Theme">
                <option selected disabled></option>
                @foreach (var value in EnumUtils.GetValues<Themes>())
                {
                    <option value="@value" class="text-center">
                        @value
                    </option>
                }
            </select>
            <span asp-validation-for="Theme" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-controller="Review" asp-action="LastReviews" class="btn btn-secondary">Cancel</a>
    </form>
</div>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}