
<a class="btn btn-info" asp-action="FacebookLogin">Log in With FaceBook</a>
<a class="btn btn-success" asp-action="GoogleLogin">Log in With Google</a>

@if (TempData["message"] != null)
{
    <div class="card-footer alert-info">@TempData["message"]</div>
}