<div class="card">
    <div class="card-header">AccessDenied</div>
    <div class="card-body">
        <p class="card-text">
            <ul>
                <li>Remote authentication was canceled.</li>
                <li>This app requires authentication.</li>
                <li>
                    To try sign-in again, select the
                    <a asp-action="Login" asp-controller="Account">Login</a>
                    link.
                </li>
            </ul>
        </p>
    </div>
</div>