@model string
@inject IViewLocalizer _localizer

<head>
    <title>@AppConfigs.Title - @_localizer["User deleted"]</title>
</head>

<div class="card-body">@_localizer["User with Id"] @Model @_localizer["was deleted"]</div>