@model LoginViewModel

<head>
    <title>@AppConfigs.Title - Log In</title>
</head>

<div class="card-header fs-3">Log In</div>
@{
    await Html.RenderPartialAsync("_SocialLogins");
}

<div class="card-body col-4 align-self-center pt-0">
    <form asp-action="Login" method="post">
        <div class="mb-3">
            <label class="form-label" asp-for="Login"></label>
            <input class="form-control text-center" asp-for="Login" />
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Password"></label>
            <input class="form-control text-center" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">
            Log In
        </button>
        <a asp-controller="Review" asp-action="LastReviews" class="btn btn-secondary">Cancel</a>
    </form>
</div>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}