@model CreateCommentViewModel

<div class="card-body align-self-start pt-0">
    <form asp-controller="Comment" asp-action="CreateComment" method="post">
        <div class="mb-3">
            <textarea class="form-control comment-textarea"
                      asp-for="Body"
                      placeholder="Write a Comment"></textarea>
        </div>
        <input asp-for="ReviewId" hidden />
        <div>
            <button type="submit" class="btn btn-primary me-3">
                Add
            </button>
            <button type="reset" class="btn btn-secondary text-end">Clear</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    $( document ).ready(function() {
        let reviewId = $("#single-review-id").val();
        $("#ReviewId").val(reviewId);
    });
</script>