@inject IViewLocalizer _localizer

<footer class="text-center text-lg-start bg-light text-muted">
    <div class="text-center mt-3 p-4 bg-secondary bg-opacity-25">
        &copy; 2022 Copyright:
        <a class="text-reset fw-bold"
           asp-controller="Review"
           asp-action="LastReviews">@AppConfigs.Title</a> |
        <a class="text-reset fw-bold"
           asp-controller="Home"
           asp-action="PrivacyPolicy">
            @_localizer["Privacy Policy"]
        </a>
    </div>
</footer>