@model PreviewViewModel

@{
    var rating = Model.AverageUserRating;
    if (rating.HasValue)
    {
        <span>@rating (@Model.TotalRates Rates)</span>
    }
    else
    {
        <span>Not Rated</span>
    }
}