<div class="btn btn-secondary position-absolute buttom-right"
     data-bs-toggle="modal"
     data-bs-target="#exampleModal">
    Cancel
</div>

<div class="modal fade"
     id="exampleModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Are you sure you want to cancel?
                </h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Changes won`t save.
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-primary"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    No, I`ll continue
                </button>
                <a class="btn btn-secondary"
                   asp-controller="Review"
                   asp-action="LastReviews">
                    Yes, Cancel
                </a>
            </div>
        </div>
    </div>
</div>