@model CommentViewModel

<div class="card">
    <div class="card-body">
        <span class="badge rounded-pill bg-info fs-6 mb-2 me-2">@Model.AuthorName</span>
        <span class="card-subtitle mb-2 text-muted">@Model.PublishingDate</span>
        <p class="card-text">@Model.Body</p>
    </div>
</div>
