@model IEnumerable<string>

<head>
    <link rel="stylesheet" href="~/lib/lightslider/css/lightslider.min.css" />
    <script src="~/lib/lightslider/js/lightslider.min.js"></script>
</head>

<div class="image-slider align-self-center">
    <ul id="adaptive">
        @foreach (var imgUrl in Model)
        {
            <li>
                <img src="@imgUrl" class="rounded img-thumbnail ui-icon-image" />
            </li>
        }
    </ul>
</div>

<script>
    $(document).ready(function() {
        $('#adaptive').lightSlider({
            adaptiveHeight:true,
            item:1,
            slideMargin:0,
            loop:true
        });
    });
</script>