@model int

<form>
    <span id="changeLike" class="cursor-pointer">
        @{
            await Html.RenderPartialAsync("_LikeReadOnly", Model);
        }
    </span>
</form>

<script type="text/javascript">
    $(function() {
        let isLiked = isProductLiked();
        if (isLiked) {
            addLikeClass();
        }
    });

    $(function () {
        $("#changeLike").on("click", function () {
            changeLike();
            $.ajax({
                url: '/Review/ChangeLike/',
                headers: {
                    "RequestVerificationToken":
                        $('input[name="__RequestVerificationToken"]').val()
                },
                data: {"reviewId": $("#single-review-id").val()},
                type: "POST",
                success: function(data) {
                    setLikesCount(data);
                },
                error: function(errorResponse) {
                    console.log(errorResponse.responseText);
                },
                failure: function(failureResponse) {
                    console.log(failureResponse.responseText);
                }
            });
        })});

    function isProductLiked() {
        return $("#IsLikedByCurrentUser").val() === "True";
    }

    function changeLike() {
        let likes = parseInt($("#likesCount").text());
        if (isProductLiked()) {
            unlike(likes);
        } else {
            like(likes);
        }
    }

    function unlike(likes) {
        likes--;
        $("#IsLikedByCurrentUser").val("False");
        removeLikeClass();
        setLikesCount(likes);
    }

    function like(likes) {
        likes++;
        $("#IsLikedByCurrentUser").val("True");
        addLikeClass();
        setLikesCount(likes);
    }

    function addLikeClass() {
        $("#changeLike").addClass("text-success");
    }

    function removeLikeClass() {
        $("#changeLike").removeClass("text-success");
    }

    function setLikesCount(likes) {
        $("#likesCount").text(likes);
    }
</script>