@model PreviewViewModel
<h6 class="text-warning">
    Review on @Model.ProductViewModel.Type :
    @Model.ProductViewModel.Name |
    Author:
    @{
        await Html.RenderPartialAsync("_Author", Model.AuthorName);
    }
    | Author`s rating: @Model.AuthorGrade
</h6>

@{
    await Html.RenderPartialAsync("_AverageUserRating", Model);
}