@model PreviewViewModel
<h6 class="text-warning">
    Review on @Model.ProductViewModel.Type :
    @Model.ProductViewModel.Name |
    Author: @Model.AuthorName
    | Author`s rating: @Model.AuthorGrade |

</h6>
<div class="badge bg-secondary text-wrap">
    User`s rating:
    @{
        await Html.RenderPartialAsync("_AverageUserRating", Model);
    }
</div>
