@model PreviewViewModel
<h6 class="text-warning">
    Review on @Model.ProductViewModel.Type :
    @Model.ProductViewModel.Name |
    Author:
    <span class="badge rounded-pill bg-info fs-6 mb-2 me-1">@Model.AuthorName</span>
    | Author`s rating: @Model.AuthorGrade
</h6>
<div class="badge bg-secondary text-wrap fs-6 mb-2">
    User`s rating:
    @{
        await Html.RenderPartialAsync("_AverageUserRating", Model);
    }
</div>
