@model CreateReviewViewModel

<head>
    <title>@AppConfigs.Title - Create New Review</title>
</head>

<div class="card-body col-12 align-self-center pt-0 justify-content-center position-relative">
    <div asp-validation-summary="All" class="text-danger m-1"></div>
    <form asp-action="CreateReview" asp-route-userName="@Model.UserName" method="post" enctype="multipart/form-data">
        @{
            await Html.RenderPartialAsync("ReviewPartials/_ReviewForm");
        }
    </form>
    @{
        await Html.RenderPartialAsync("ReviewPartials/_ReviewFormScripts");
    }
</div>