@model IEnumerable<Review>

<head>
    <title>@AppConfigs.Title - Reviews</title>
</head>

<div class="alert alert-warning">
    !!!IT HAS TO BE DELETED!!!
    There are 10 last reviews with authors bellow
</div>

@foreach (var review in Model)
{
    await Html.RenderPartialAsync("_Preview", review);
}