@model HomeViewModel

<head>
    @if (Model.Pagination.PageIndex == 1)
    {
        <title>@AppConfigs.Title - The Best Reviews You've Ever Seen!</title>
    }
    else
    {
        <title>@AppConfigs.Title - Last Reviews Page @Model.Pagination.PageIndex</title>
    }
</head>

@if (!Model.Reviews.Any())
{
    <div class="alert alert-warning m-3">
        Reviews Not Found
    </div>
}
else
{
    <div class="row m-3">
        <div class="col-9">
            @foreach (var review in Model.Reviews)
            {
                await Html.RenderPartialAsync("ReviewPartials/_Preview", review);
            }
        </div>
        <div class="col-3">
            @{
                await Html.RenderPartialAsync("LastReviewsPartials/_TopRatedReviews",
                        Model.TopRatedReviews);
            }
            @{
                await Html.RenderPartialAsync("LastReviewsPartials/_TagCloud", Model.TagCloud);
            }
        </div>
    </div>
    await Html.RenderPartialAsync("ReviewPartials/_Pagination", Model.Pagination);
}