@model HomeViewModel

<head>
    @if (Model.Pagination.PageIndex == 1)
    {
        <title>@AppConfigs.Title - Just Good Reviews!</title>
    }
    else
    {
        <title>@AppConfigs.Title - Last Reviews Page @Model.Pagination.PageIndex</title>
    }
</head>

<div class="row m-3">
    <div class="col-9">
        @if (!Model.Reviews.Any())
        {
            await Html.RenderPartialAsync("ReviewPartials/_ReviewsNotFound");
        }
        else
        {
            foreach (var review in Model.Reviews)
            {
                await Html.RenderPartialAsync("ReviewPartials/_Preview", review);
            }
        }
    </div>
    <div class="col-3">
        @{
            await Html.RenderPartialAsync("LastReviewsPartials/_TopRatedReviews",
                Model.TopRatedReviews);
        }
        @{
            await Html.RenderPartialAsync("LastReviewsPartials/_TagCloud", Model.TagCloud);
        }
    </div>
</div>
@if (Model.Reviews.Any())
{
    await Html.RenderPartialAsync("ReviewPartials/_Pagination", Model.Pagination);
}
