@model UserDataViewModel

<head>
    <title>@AppConfigs.Title - Change DisplayName</title>
</head>

<div class="card col-4 align-self-center">
    <div class="card-body">
        <div asp-validation-summary="All" class="alert-danger"></div>
        <form asp-controller="Profile"
              asp-action="SetDisplayName"
              method="post">
            <div class="mb-3">
                <label class="form-label" asp-for="DisplayName"></label>
                <input class="form-control text-center" asp-for="DisplayName" />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>